/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@import "tailwindcss";

body {
  @apply bg-alabaster text-olive-dark; 
  
}
/* --- FIN: Estilos de Scrollbar --- */